@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}

.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content {
    display: flex;
    flex-direction: column;
    grid-area: content;
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.contenedor-content .termino-condiciones::-webkit-scrollbar{
    width: 10px;
}

.contenedor-content .termino-condiciones::-webkit-scrollbar-thumb{
    background: rgb(168, 164, 164);
}

.contenedor-content .termino-condiciones {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 64%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px white;
    overflow: auto;
}

.contenedor-content .termino-condiciones .contenedor-titulo {
    display: flex;
    width: 100%;
    padding: 6% 0 3% 0;
    justify-content: center;
    font-size: 18pt;
}

.contenedor-content .termino-condiciones .contenedor-informacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    top: 8%;
}

.contenedor-content .termino-condiciones .contenedor-informacion p{
    width: 80%;
    text-align: center;
    font-size: 13pt;
}

.contenedor-boton {
    display: flex;
    gap: 25%;
    position: relative;
    top: 6%
}

.contenedor-boton a {
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    padding: 8% 15% 8% 15%;
    font-weight: bolder;
    box-shadow: 0 0 15px #FFD966;
}

.contenedor-boton a:hover {
    background-color: black;
    color: #FFD966;
    transition: 0.5s;
}

.contenedor-boton .volver {
    position: relative;
    left: -70%;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}