@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-login {
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black ;
}

.contenedor-login .home {
    position: relative;
    top: -40%;
    left: -14.5%
}

.contenedor-login .home i {
    font-size: 20pt;
}

.formulario {
    display: flex;
    width: 65%;
    height: 70%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 10px white;
}

.contenedor-login .formulario .contenedor-imagen {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    border-right: 4px solid black;
} 

.contenedor-login .formulario .contenedor-imagen .logo {
    width: 100%;
    height: 90%;
}

.contenedor-login .formulario .grid {
    display: grid;
    width: 100%;
    height: 100%;
}

.contenedor-login .formulario .primera-barra {
    width: 100%;
    height: 100%;
}

.contenedor-login .formulario .primera-barra .contenedor-titulo{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    font-weight: bold;
}


.contenedor-login .formulario .barra-checkbox {
    display: flex;
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 3px solid black;
}

.contenedor-login .formulario .barra-checkbox article{
    display: flex;
    font-size: 13pt;
    font-weight: bolder;
    gap: 4%;
}

.contenedor-login .formulario .segunda-barra {
    width: 100%;
    height: 110%;
}

.contenedor-login .formulario .segunda-barra .informacion-barra-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding-left: 5%;
}


.contenedor-login .formulario .segunda-barra .informacion-barra-2 article {
    display: grid;
    gap: 10%;
}

.contenedor-login .formulario .segunda-barra .informacion-barra-2 article h1{
    font-size: 13pt;
    font-weight: bolder;
}

.contenedor-login .formulario .segunda-barra .informacion-barra-2 article .input{
    width: 41%;
    border-radius: 5px;
    border: 2px solid black;
    padding: 1%;
    padding-left: 2%;
    font-weight: bolder;
}

.contenedor-login .formulario .segunda-barra .informacion-barra-2 article .input::placeholder {
    color: black;
}

.contenedor-login .formulario .tercera-barra {
    display: flex;
    width: 100%;
    height: 100%;
}

.contenedor-login .formulario .tercera-barra article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 0% 6%;
}

.contenedor-login .formulario .tercera-barra article .iniciar {
    background-color: #FFD966;
    padding: 1.5%;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
}

.contenedor-login .formulario .tercera-barra article .iniciar:hover{
    background-color: black;
    color: #FFD966;
    transition: 0.5s;
}

.contenedor-login .formulario .tercera-barra article a {
    color: black;
    font-size: 12pt;
    position: relative;
    top: -7%;
    font-weight: bolder;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}